<button bitIconButton="bwi bwi-fw bwi-filter" [bitMenuTriggerFor]="menu"></button>
<bit-menu #menu>
  <div class="tw-px-2">
    <!-- Bento box -->
    <div class="tw-grid tw-grid-cols-3 tw-gap-2">
      <a
        *ngFor="let product of bentoProducts$ | async"
        [routerLink]="product.appRoute"
        class="tw-flex tw-aspect-square tw-h-full tw-w-full tw-flex-col tw-items-center tw-justify-center tw-rounded tw-py-1 tw-px-2 hover:tw-bg-[rgba(26,65,172,0.03)] hover:tw-no-underline"
        routerLinkActive="tw-font-bold tw-bg-primary-500 hover:tw-bg-primary-500 [&>*]:tw-text-contrast"
      >
        <i class="bwi {{ product.icon }} tw-text-4xl tw-m-0 tw-mb-1"></i>
        <span class="tw-min-w-[75px] tw-max-w-min tw-text-center tw-text-xs hover:tw-underline">{{
          product.name
        }}</span>
      </a>
    </div>
    <!-- Other options -->
    <section
      class="tw-mt-4 tw-flex tw-w-full tw-flex-col tw-border-0 tw-border-t tw-border-solid tw-border-t-text-muted tw-p-2"
    >
      <span class="tw-text-xs tw-text-muted">More from Bitwarden</span>
      <a *ngFor="let product of otherProducts$ | async" [routerLink]="product.marketingRoute">
        <span
          ><i class="bwi {{ product.icon }} tw-text-primary-500 tw-text-4xl tw-m-0 tw-mb-1"></i>
          {{ product.name }}</span
        >
      </a>
    </section>
  </div>
</bit-menu>
